@using LibraryProject.Models;
@model List<Book>
@{
    ViewBag.Title = "Books";
}
<h3>List of books</h3>
<table align="left">
    <thead>
        <tr>
            <th align="left">Name</th>
            <th align="left">Author</th>
            <th align="left">Publisher</th>
            <th align="left">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
            {
            <tr>
                <td align="left">@book.Name</td>
                <td align="left">@book.Author</td>
                <td align="left">@book.Publisher</td>
                <td align="center">@book.Price.ToString("c")</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" align="left">Total: @Model.Count books</td>        
        </tr>
    </tfoot>
</table>

