@model LibraryProject.Models.Book

@{
    ViewBag.Title = "DeleteBook";
}
<h3>DeleteBook</h3>

<h4>Are you sure you want to delete this?</h4>

    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Name)
        @Html.DisplayFor(model => model.Name)
        @Html.LabelFor(model => model.Author)
        @Html.DisplayFor(model => model.Author)
        @Html.LabelFor(model => model.Publisher)
        @Html.DisplayFor(model => model.Publisher)
        @Html.LabelFor(model => model.Price)
        @Html.DisplayFor(model => model.Price)

        <input type="submit" value="Delete" />
        
    }
    <div>
        @Html.ActionLink("Back to List", "Index");
</div>
